@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a href="/Home">Go to Login</a>
    <div>
        <h3>Register</h3>
        <form style="width: 300px" method="post">
            <div class="mb-6">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input id="username" type="text" name="username" class="form-control">
            </div>
            <div class="mb-6">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <input type="submit" class="btn btn-info" value="Register" />
        </form>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>